<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        
    {{> header}} test     
        <p>{{screamIt  someText}} test</p>
    
{{> footer}}
    
    </body>     
</html>